*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.app > div {
  border: 1px solid;
}

.side-navigation {
  grid-column: 1 / 2;
  grid-row: 1 / span 6;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.note-app-title {
  grid-column: span 5;
  display: grid;
  place-items: center;
}
.note-taker {
  grid-column: span 5;
  grid-row: span 5;
  padding: 1rem;
}

.note-app-title > h1 {
  font-size: 64px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-navigation > .btn-wrap {
  padding: 2rem 1rem;
}

.btn-wrap > button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  color: white;
  background-image: linear-gradient(45deg, rgb(0, 65, 149), rgb(55, 0, 101));
  border: none;
  font-size: 18px;
}

#btn {
  padding: 8px;
  height: max-content !important;
}

.note-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-inline: 1rem;
}

.note-list-item {
  border-bottom: 0.5px dotted rgba(0, 0, 0, 0.405);
  padding-bottom: 0.75rem;
  cursor: pointer;
}

.note-list-item > h2 {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* height: max-content; */
  max-width: 250px;
}

.note-list-title {
  padding: 0 16px;
}

.note-taker input {
  width: 100%;
  height: 44px;
  display: block;
  margin-bottom: 20px;
  padding-inline: 8px;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 103);
}

.note-taker textarea {
  width: 100%;
  height: calc(100% - 150px);
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 103);
}

.note-taker textarea::placeholder {
  font-size: 18px;
}
